<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot</title>
</head>

<style>
    .box {
        display: block;
        margin: auto auto;
    }
</style>

<body>

    <div class='box'>

        <iframe allow="microphone;" width="800" height="600"
            src="https://console.dialogflow.com/api-client/demo/embedded/34ddd218-b889-4aee-9016-2e2395f07873">
        </iframe>

    </div>

</body>

</html>